*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;

    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

}

#wall, #trilha, #jogador{
    width: 30px;
    height: 30px;

}

#tabuleiro{
    border: 1px solid black;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 630px;
    min-width: 630px;
}

#venceu{
    background-color: rgba(0, 0, 0, 0.8);

    padding: 10px;

    
    color: white;
    font-weight: bold;
    font-size: 40px;
    line-height: 1.3;

    text-align: center;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0vh;
    left: 0vh;

    width: 100%;
    height: 100%;
}

#venceu button{
    margin-top: 7px;
    padding: 7px;

    font-weight: bold;

    font-size: 20px;

}